@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalFormBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputFormDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bugDetailButton:hover {
    color: rgb(153, 206, 253);
    cursor: pointer;
}

.bugsPageButtons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.bugsPageTitle {
    color: rgb(41, 41, 41);
    text-align: center;
    margin-bottom: -50px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.bugDetailEditButton {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 45px;
}